.tableContainer {
  margin: 0.25rem auto 1.0625rem;
  max-width: 82rem;
  padding: 0 3rem;

  table {
    width: 100%;

    border: 1px solid var(--gray-6);
    table-layout: fixed;
  }

  td {
    width: auto;
    border-right: 1px solid var(--gray-6);
    text-align: center;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--gray-2);
    }
  }

  td:first-child {
    a {
      font-weight: 700;
      color: var(--pink);
    }
  }

  td:last-child {
    border-right: none;
  }
}
