.productSliderContainer {
  display: flex;
  align-items: center;
  max-width: 86.8125rem;

  width: fit-content;
  gap: 2.1875rem;

  button {
    background-color: transparent;
    border: none;
  }
}

.cardContainer {
  max-width: 16.875rem;
  padding: 1.0625rem 0.75rem 1rem 0.6875rem;

  box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  margin: .625rem;

  div {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.cardContent {
  display: flex;
  flex-direction: column;

  p {
    font-size: 0.9375rem;
    color: var(--gray-5);
    font-weight: 300;
    margin-top: 0.5625rem;
  }

  span:first-of-type {
    font-size: 1rem;
    color: "var(--gray-4)";
    text-decoration: line-through;
    margin-top: 0.75rem;
  }

  strong {
    font-size: 1.25rem;
    color: var(--gray-5);
  }

  small {
    font-size: .75rem;
    color: var(--gray-5);
  }

  span:last-of-type {
    color: var(--pink);
    margin-top: .4375rem;
  }

  button {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 0.88rem 1rem 0.715rem;
    margin-top: .75rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
  }
}
