.relatedProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div > a {
      font-size: .9375rem;
      color: var(--gray-5);
      display: block;
      margin-bottom: 2rem;
      text-decoration: none;
      font-weight: 700;
    }
  }
}

.headerTitle {
  display: flex;
  max-width: 73rem;
  width: 100%;

  gap: 2.125rem;

  align-items: center;
  padding: 0 3rem;
  margin: 2.4375rem auto 0.625rem;

  h1 {
    width: 100%;
    font-size: 1.875rem;
    min-width: fit-content;

    color: var(--pink);
  }

  div {
    width: 100%;
    border: 1px solid var(--gray-7);
  }
}
